<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824177178697-iciqb4u79q1galjb6bl964pku9iock37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824177178697-iciqb4u79q1galjb6bl964pku9iock37</string>
	<key>API_KEY</key>
	<string>AIzaSyAN0wTydLowBPy-mi3mfna-c_H_BqJae2A</string>
	<key>GCM_SENDER_ID</key>
	<string>824177178697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danbockapps.myamazingproject</string>
	<key>PROJECT_ID</key>
	<string>my-amazing-project-e31f7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-amazing-project-e31f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824177178697:ios:28ec27607be81f0c</string>
	<key>DATABASE_URL</key>
	<string>https://my-amazing-project-e31f7.firebaseio.com</string>
</dict>
</plist>